<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wi24" translate="label" sortOrder="10">
            <label>WEBiDEA</label>
        </tab>
        <section id="wi24_shared_increment_id" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shared increment id</label>
            <tab>wi24</tab>
            <resource>WI24_ManagerSharedIncrementId::config</resource>

            <group id="general" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enabled_for_entity_types" translate="label" type="multiselect" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled for entity type</label>
                    <source_model>Webidea24\SharedIncrementId\Model\Config\Source\EntityTypes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
